.container {
  width: 80%;
  height: 400px;
  margin: 20px auto;
}

.carousel {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 0;
  z-index: 0;
  transition: all 1s ease-in-out;
}

.slider section:nth-child(1) {
  opacity: 1;
  z-index: 1;
}

.slider section:nth-child(2) {
  background: tomato;
}

.slider section:nth-child(3) {
  background: rgb(251, 148, 129);
}

.slider section:nth-child(4) {
  background: rgb(248, 186, 175);
}

.slider section:nth-child(5) {
  background: rgb(253, 232, 229);
}

/* buttons ####################################### */

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 2;
}